# Python
.venv/
__pycache__/
*.pt
*.pyc

# Node
node_modules/
dist/
build/

# .NET
bin/
obj/
appsettings.Development.json
*.db
*.db-shm
*.db-wal

# IDE
.vscode/
.vs/
*.suo
*.user

# Project specific
snapshots/
artifacts/
