{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=trafficcounter.dev.db"
  },
  "Cors": {
    "AllowedOrigins": [
      "http://localhost:5173",
      "http://localhost:3000",
      "http://127.0.0.1:5173"
    ]
  },
  "Security": {
    "BackendApiKey": "SUA_API_KEY_DEV"
  },
  "MjpegProxy": {
    "UpstreamVideoFeedUrl": "http://127.0.0.1:8090/video_feed",
    "UpstreamHealthUrl": "http://127.0.0.1:8090/health",
    "UpstreamToken": "SUA_MJPEG_TOKEN_DEV"
  },
  "HlsProxy": {
    "UpstreamManifestUrl": "https://34.104.32.249.nip.io/SP125-KM093B/stream.m3u8"
  }
}
